asgiref==3.9.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
dj-database-url==3.1.0
Django==5.2.4
django-filter==25.2
django-oauth-plus==2.2.9
django-oauth-toolkit==3.1.0
django-oauth2-provider==0.2.6.1
django-simple-search==1.0.2
djangorestframework==3.16.1
djangorestframework-jwt==1.11.0
djangorestframework-oauth==1.1.0
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
httplib2==0.31.0
idna==3.11
jwcrypto==1.5.6
oauth2==1.9.0.post1
oauthlib==3.3.1
packaging==25.0
pillow==12.0.0
psycopg==3.3.0
psycopg2-binary==2.9.11
pycparser==2.23
PyJWT==1.7.1
pyparsing==3.2.5
python-dotenv==1.2.1
requests==2.32.5
shortuuid==1.0.13
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.11.0
